/* @import url("donate.css"); */
body{
  background-color: black;
  /* background: url(https://i.pinimg.com/originals/79/a3/84/79a384c3c449ad01b0e57e790807b2c0.gif); */
  background-position: center;
}

.landing_page {
    margin-top: 150px;
    margin-bottom: 150px;
}

.glow{
  border-radius: 12px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.01);
  transform: scale(0.9);
  background: linear-gradient(
    to left,
    #ff5770,
    #e4428d,
    #c42da8,
    #9e16c3,
    #6501de,
    #9e16c3,
    #c42da8,
    #e4428d,
    #ff5770
  );
  background-size: 200% 200%;
  animation: animateGlow 1.25s linear infinite;
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.heading_shikher {
  font-size: 70px;
  padding: 20px;
  margin-left: 4rem;
  color: #012169;
}

h3 {
    display: flex;
    justify-content: right;
    margin-right: 4rem;
    padding: 20px;
    font-size: 34px;
    color: rgb(221, 239, 239);
}

.found_info {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    /* color: #f2f2f2; */
    color: #6A5ACD;
    /* background-color: #fff; */
}

.filled {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 10px; */
  margin-bottom: 30px;
  width: 0%;
  height: 2.5px;
  left: 26%;
  background-color: #6A5ACD;
  transition: 0.30s ease-out;
}

.title:hover .filled {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  /* left: 30%; */
  background-color: #6A5ACD;
  transition: 0.30s ease-out;
}

pre {
    font-size: 1.3rem;
    color: #f2f2f2;
    margin: 20px 30px 20px 30px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #6A5ACD;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

* {
    box-sizing: border-box;
  }

  
  .marquee {
    overflow: hidden;
  }
  
  .marquee-content {
    display: flex;
    animation: scrolling 25s linear infinite;
  }
  
  .marquee-item {
    flex: 0 0 16vw;
    margin: 0 1vw;
    flex: 0 0 20vw;
    margin: 0 2vw;
  }
  
  .marquee-item img {
    display: block;
    width: 50vh;
    height: 30vh;
    padding: 0 20px;
  }
  
  @keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translatex(-144vw); }
  }
  .textinfo{
    color: bisque;
  }

.footer {
    position: relative;
    margin-top: 40px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.link:hover {
    color: #6A5ACD;
    text-decoration: none;
}