/* @import url("donate.css"); */

.landing_page{
    margin-top: 150px;
    margin-bottom: 150px;
}

.heading_shikher{
    font-size: 70px;
}

h3{
    font-size: 28px;
    color: azure;
}

#found_info{
    margin-top: 150px;
    color: #8388a0;
}

* {
    box-sizing: border-box;
  }
 
  
  .marquee {
    overflow: hidden;
  }
  
  .marquee-content {
    display: flex;
    animation: scrolling 30s linear infinite;
  }
  
  .marquee-item {
    flex: 0 0 16vw;
    margin: 0 1vw;
    flex: 0 0 20vw;
    margin: 0 2vw;
  }
  
  .marquee-item img {
    display: block;
    width: 50vh;
    height: 30vh;
    padding: 0 20px;
  }
  
  @keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translatex(-144vw); }
  }
  .textinfo{
    color: bisque;
  }
body{
  background-color: black;
  background: url(https://i.pinimg.com/originals/79/a3/84/79a384c3c449ad01b0e57e790807b2c0.gif);
  background-position: center;
}